.vendidos__titulo{
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.75em 0;
}
.card__vendidos{
    background: var(--branco);
    box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.card__vendidos__descrição{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card__vendidos__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.card__vendidos__escritora{
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}


.card__vendidos__texto{
    font-size: 14px;
    font-weight: 400;
}

.card__vendidos-estrelinha{
    margin: 0.5em 0;
}